<h1>Would you like to collaborate?</h1>

<hr>

<div class="row">
    <div class="col-md-6">
<h3>Address</h3>
<p>Ranibari, Kathmandu</p>

<h3>Phone</h3>
<p><%= number_to_phone "1234567890" %></p>

<h3>Email</h3>
<p><a href="mailto:adiltuladhar77@gmail.com?subject=PortfolioContact" "email me">Email me </a></p>



    </div>
    <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d393.29462610019505!2d85.31667955503343!3d27.727587420625742!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb191f76d2a129%3A0x757a2703360dd586!2zMjfCsDQzJzM5LjkiTiA4NcKwMTgnNTkuNSJF!5e0!3m2!1sen!2snp!4v1668365809974!5m2!1sen!2snp" width="500" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>
